.ex-1-square,
.ex-2-square,
.ex-3-square,
.ex-5-square,
.ex-6-img, 
.ex-7-img,
.ex-8-img,
.ex-9-img {
    transition: 3s;
}

.ex-1-square:hover {
    background-color: red;
}

.ex-2-square:active{
    width: 100%;
}

.ex-3-square:hover {
    border-radius: 50%;
}


.ex-4-square {
    animation: fadeAway 5s infinite;
}

@keyframes fadeAway {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.ex-5-square:hover {
    transform:scale(2);
}

.ex-5-square:active {
    transform: scale(0.2);
}

.ex-6-img:hover {
    filter: grayscale(1);
}

.ex-7-img:hover,
.ex-8-img:hover,
.ex-9-img:hover {
    filter: grayscale(1) blur(1px);
}

.ex-8-img:hover,
.ex-9-img:hover {
    border-radius: 50%;
}

.ex-9-img:hover {
    transform: scale(1.5);
}

.ex-10-icon {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(1turn);
    }
}

.ex-11-icon {
    animation: spinBackAndForth 2s infinite
}

@keyframes spinBackAndForth {
    0% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(273.75deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.ex-12-top-white {
    animation: moveTopWhite 2s linear infinite;
}
@keyframes moveTopWhite {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}

.ex-12-bottom-white {
    animation: moveBottomWhite 2s linear infinite;
}
@keyframes moveBottomWhite {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}






.ex-13-top-white {
    animation: rotateTopWhite 3s linear infinite;
}

@keyframes rotateTopWhite {
    0% {
        left: 10%;
        top: -10px;
    }
    
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }

    45% {
        left: calc(100% - 30px);
        top: 100%;
    }

    75% {
        left: 0;
        top: 100%
    }

    90% {
        left: -15px;
        top: -10px;
    }

    100% {
        left: 10%;
        top: -10px;
    }
}


.ex-13-bottom-white {
    animation: rotateBottomWhite 3s linear infinite;
}

@keyframes rotateBottomWhite {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 50px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 50px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
}